/* Navbar Base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background: #4f46e5;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.logo-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 8px;
}

.logo {
  width: 45px;
  height: 45px;
  overflow: hidden;
}

/* Desktop Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #c7d2fe;
}

/* Active Link */
.active {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}

/* Mobile Menu */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Responsive: Mobile View */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    background: #4f46e5;
    flex-direction: column;
    text-align: center;
    display: none;
    padding: 15px 0;
    border-radius: 0 0 10px 10px;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
